<h3 class="text-center">Admin tools</h3>

<h4>Angels</h4>
<ngx-datatable
  [rows]="angels"
  [columns]="angelColumns"
  [selected]="selectedAngel"
  [selectionType]="'single'"
  (select)="onSelect($event)"
>
</ngx-datatable>

<h4>Auth0 users</h4>
<ngx-datatable
  [rows]="users"
  [columns]="userColumns"
  [selected]="selectedUser"
  [selectionType]="'single'"
  (select)="onSelect($event)"
>
</ngx-datatable>

<p>Choose a user and angel to link them together</p>
<a href="#" class="btn btn-success" (click)="linkSelected()">Link Selected</a>
