<h1 class="text-center">Nordic Business Angels List</h1>

<div class="row justify-content-center">
  <div class="col-lg-4 col-md-6 col-sm-8 col-10 mt-3">
    <div class="card text-center ">
      <div class="card-body">
        <h2>Please login</h2>
        <div *ngIf="notProductionEnvironment" style="background-color: #a5c3ff" class="mt-3">
          <p class="small">In local development environment the Auth0 can't access the server to match new auth0 user to an existing
            angel with email. To simulate a match an angel id can be provided here. Leaving this blank will simulate
            a case where the auth0 users email doesn't match an existing angel.</p>
          <label for="existingAngelId">Existing Angel Id</label>
          <input #existingAngelId id="existingAngelId">
        </div>
        <a href="#" *ngIf="!authService.authenticated" (click)="logIn(); false" class="btn btn-primary" role="button">Log In</a>
      </div>
    </div>
  </div>
</div>

