<h3 class="text-center">My Profile</h3>

<angel-info *ngIf="angel" [angel]="angel"></angel-info>

<div *ngIf="angel" class="panel panel-default ">
  <div class="panel-heading">Actions</div>
  <div class="panel-body">
  <form (submit)="changeEmail()" class="form-inline">
    <div class="form-group">
      <label for="email">Change Email</label>
      <input [(ngModel)]="newEmail" type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
    <input class="btn btn-success" type="submit">
  </form>
  </div>
</div>

