<h3 class="text-center">My Profile</h3>

registered: {{authService.registered}}

<div *ngIf="angel" class="panel panel-default ">
  <div class="panel-heading">Details</div>
  <table class="table">
    <tbody>
    <tr *ngFor="let key of angel | keys">
      <td><span class="propLabel">{{key}}</span></td>
      <td *ngIf="activeEdit !== key">
        {{angel[key]}}
        <a href="#" class="edit-button" (click)="startEdit(key); false;"><i class="fa fa-edit" aria-hidden="true"></i></a>
      </td>
      <td *ngIf="activeEdit === key">
        <input [(ngModel)]="edits[key]" name="{{'a' + key}}">
        <a href="#" class="btn btn-success" (click)="saveEdit(key); false">Save</a>
        <a href="#" class="btn btn-danger" (click)="stopEdit(); false">Cancel</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

