<h3 class="text-center">Business Angels</h3>

<angel-filter-controls
  (filterChanged)="filterChanged($event)"
  [countries]="countries"
  [cities]="cities"
  [industries]="industries"
></angel-filter-controls>

<ngx-datatable
  id="angelTable"
  class="bootstrap"
  [columnMode]="'flex'"
  [rows]="angels | angelFilter:filter"
  [columns]="columns"
  [reorderable]="false"
>

  <ng-template #cityCountryTmpl let-row="row" let-value="value">
    {{row.city}}, {{row.country}}
  </ng-template>

  <ng-template #nameTmpl let-row="row" let-value="value">
    <a [routerLink]="['/angels', row.id]" routerLinkActive="true">{{row.last_name}} {{row.first_name}}</a>
  </ng-template>

  <ng-template #industriesTmpl let-row="row" let-value="value">
    <span *ngFor="let industry of value.slice(0, 4)" class="badge industry-badge">{{industry}}</span>
    <span *ngIf="value.length > 4">...</span>
  </ng-template>
</ngx-datatable>


