@import "../../styles";

#angelTable {
  width: 100%;
}

#angelTable thead th a {
  color: $body-color;
  font-weight: $font-weight-bold;
}

.industry-badge {
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}

span.highlight {
  color: map_get($theme-colors, 'primary');
}


