<angel-filter-controls
  (filterChanged)="filterChanged($event)"
  [countries]="countries"
  [cities]="cities"
  [industries]="industries"
></angel-filter-controls>

<table class="table table-sm" id="angelTable">
  <thead>
    <th>
      <a href="#" (click)="onSort('name'); false;">Name</a>
      <span *ngIf="sortBy === 'name' && !reverseSort" class="fa fa-caret-down"></span>
      <span *ngIf="sortBy === 'name' && reverseSort" class="fa fa-caret-up"></span>
    </th>
    <th>
      <a href="#" (click)="onSort('location'); false;">Location</a>
      <span *ngIf="sortBy === 'location' && !reverseSort" class="fa fa-caret-down"></span>
      <span *ngIf="sortBy === 'location' && reverseSort" class="fa fa-caret-up"></span>
    </th>
    <th class="d-none d-lg-table-cell">
      <a href="#" (click)="onSort('industries'); false;">Industries</a>
      <span *ngIf="sortBy === 'industries' && !reverseSort" class="fa fa-caret-down"></span>
      <span *ngIf="sortBy === 'industries' && reverseSort" class="fa fa-caret-up"></span>
    </th>
    <th class="d-none d-md-table-cell">
      <a href="#" (click)="onSort('investments'); false;">Investments</a>
      <span *ngIf="sortBy === 'investments' && !reverseSort" class="fa fa-caret-down"></span>
      <span *ngIf="sortBy === 'investments' && reverseSort" class="fa fa-caret-up"></span>
    </th>
    <th class="d-none d-md-table-cell">
      <a href="#" (click)="onSort('linkedin'); false;">LinkedIn</a>
      <span *ngIf="sortBy === 'linkedin' && !reverseSort" class="fa fa-caret-down"></span>
      <span *ngIf="sortBy === 'linkedin' && reverseSort" class="fa fa-caret-up"></span>
    </th>
  </thead>
  <tbody>
  <tr *ngFor="let angel of angels|angelFilter:filter|angelSorter:sortKeys[sortBy]:reverseSort">
    <!-- Name -->
    <td>
      <a [routerLink]="['/angels', angel.id]"
         routerLinkActive="true"
         class="font-weight-bold text-dark"
      ><angel-search-highlight [text]="nameString(angel)" [query]="filter.searchString"></angel-search-highlight></a>
    </td>

    <!-- Location -->
    <td>
      <angel-search-highlight [text]="locationString(angel)" [query]="filter.searchString"></angel-search-highlight>
    </td>

    <!-- Industries -->
    <td class="d-none d-lg-table-cell industry-column">
      <div *ngFor="let industry of angel?.industries.slice(0, 3)" class="badge badge-dark industry-badge">{{industry}}</div>
      <div *ngIf="angel?.industries.length > 3" class="badge badge-dark industry-badge" [ngbTooltip]="tipContent">. . .</div>
      <ng-template #tipContent>
          <div *ngFor="let industry of angel?.industries.slice(3); last as isLast">{{industry}}</div>
      </ng-template>
    </td>

    <!-- Investments -->
    <td class="d-none d-md-table-cell">
      <span *ngIf="angel.investment_level || angel.investment_level === 0">{{investmentLevels[angel.investment_level]}}</span>
    </td>

    <!-- LinkedIn -->
    <td class="d-none d-md-table-cell">
      <nban-linkedin-profile-link *ngIf="angel.linkedin" [profileId]="angel.linkedin"></nban-linkedin-profile-link>
    </td>
  </tr>
  <tr *ngIf="!angels || !angels.length">
    <td colspan="5" class="text-center">Nothing to display</td>
  </tr>
  </tbody>
</table>


