<nban-data-table [columns]="columns" [rows]="angels"></nban-data-table>

<ng-template #idCell let-id>
  <span class="monospace small">{{id}}</span>
</ng-template>

<ng-template #nameCell let-angel="row">
  <span>{{angel.first_name}} {{angel.last_name}}</span>
</ng-template>

<ng-template #lastLoginCell let-angel="row">
  <span *ngIf="lastLoginForAngel(angel) as lastlogin; else neverActivated">{{lastlogin | date:'shortDate'}}</span>
  <ng-template #neverActivated><span>Never</span></ng-template>
</ng-template>

<ng-template #detailsCell let-angel="row">
  <a [routerLink]="['edit', angel.id]">View</a>
</ng-template>
