/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

body {
  background-image: url(/assets/images/nordics_bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.monospace {
  font-family: $font-family-monospace;
}

a {
  cursor: pointer;
}

button.btn {
  cursor: pointer;
}
