/* You can add global styles to this file, and also import other style files */

.ngx-datatable {
  margin: 1em;
}

.ngx-datatable .datatable-header-inner {
  background-color: aliceblue;
}

.ngx-datatable .datatable-header .datatable-header-cell {
  padding-left: 0.5em;
  border: solid 1px black;
  border-right: double;

}

.ngx-datatable .datatable-body-row {
  background-color: azure;
}

.ngx-datatable .datatable-body-row .datatable-body-cell {
  user-select: initial!important;
  padding-left: 0.5em;
  border: solid 1px gray;
}

span.sort-btn.sort-desc.datatable-icon-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid black;
}

span.sort-btn.sort-asc.datatable-icon-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}
