/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

.monospace {
  font-family: $font-family-monospace;
}

a {
  cursor: pointer;
}

button.btn {
  cursor: pointer;
}
