<div *ngIf="invitation">
  <p>
    In order to start using the Angel Search you need to register.
    You can register with an email and password or by using a social media account.
  </p>

  <div *ngIf="invitation.status === 'pending'" class="card">
    <div class="card-body">
      <a href="#" class="btn btn-info" (click)="register(); false">Register</a>
    </div>
  </div>
  <div *ngIf="invitation.status !== 'pending'" class="card text-white bg-danger">
    <div class="card-body">
      <p>
        This invitation link has expired.
      </p>
    </div>
  </div>

</div>

